* {
    margin: 0;
    padding: 0;
    grid-column: 1/3;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    display: flex;
    width: 50%;
    height: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: 50% 50%;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.item-one {
    padding: 1rem;
    width: 50%;
    height: 50%;
    background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.managedhealthcareexecutive.com%2Fnews%2Ffive-things-you-should-know-about-covid-19-today&psig=AOvVaw2V8JF0HxY4gHQhB-7xnvP7&ust=1585839611329000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDXt4m_x-gCFQAAAAAdAAAAABAD);
} 

.item-two {
    width: 50%;
    margin: 5rem;
}

.light-text {
    color: #777; 
 }
 
 #status-form {
     width: 50%;
     height: 100%;
     grid-template-columns: 50% 50%;
     display: grid;
     grid-row-gap: 2rem;
 }
 
 #symptoms-section {
     height: 20%;
     display: flex;
     font-weight: 300;
     font-size: large;
 }
 
 #chkbx {
     margin-right: 0.2rem;
 }
 
 #check-btn {
     width: 100%;
     padding: 0.75rem;
     border: none;
     border-radius: 50px;
     background: blue;
     cursor: pointer;
     color: whitesmoke;
     font-size: 1.2rem;
     font-weight: 600;
 }
 
 #check-btn:hover {
     background: white;
     color: blue;
 }
 
 .input {
     width: 100%;
     padding: 1rem 0.75rem;
     border: none;
     border-radius: 50px;
     background: #eee;
 }